h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

h4 {
  color: aquamarine;
  font-size: 16px;
  }

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

h3 {
  color: gray;
  font-size: 21px;
}

body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

.footer {
  text-align: right;
  color: gray;
  font-size: 24px;
}

a {
  text-decoration: none;
}
